<?xml version="1.0" encoding="utf-8" ?>
<DataBaseInfo>
	<supergms_userContext  Pool="0" DbType="Mysql"  UserName="super_user" PassWord="super_user_*123456" Database="supergms_user" >
		<Master  Ip="192.168.0.90" Port="3306" />
		<Slave>
			<Item   Pool="1" Ip="192.168.0.90" Port="3306" />
		</Slave>
	</supergms_userContext>
</DataBaseInfo>