<?xml version="1.0" encoding="utf-8" ?>
<SqlMap>
	<supergms_userContext>
		<SqlFile>/supergms_userContext/SuperGmsUserDefaultSql.xml</SqlFile>
	</supergms_userContext>
</SqlMap>

<!--在这个文件里面配置的是Dapper的sql脚本，可以如上所示，配置到当前文件，如果脚本较多时
    可以在这个里面配置引入指向文件，但是两个不可以混用，要么SqlMap中全部是指向文件，要么直接是脚本，如下所示
<SqlMap>
	<supergms_userContext>
	   <GetUserLoginCount>
			<![CDATA[ 
		  select  count(`UserId`) TotCount from `login_log` where `Login_Time`>@start and `Login_Time`<@end
		   ]]>
		</GetUserLoginCount>
	</supergms_userContext>
 </SqlMap>

 如果是指向文件，则二级节点是SqlCommand，下面直接配置这个数据库的sql脚本
 还要特别注意：每个脚本的上级节点是数据库的DBContext名称 如:supergms_userContext，这样系统才知道这个脚本在那个数据库上执行
 **所有这些文件的属性都必须是 始终复制  内容 ，否则会报中不到配置文件**
-->