################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/SuperGMSTemplateDto/bin
/SuperGMSTemplateDto/obj
/SuperGMSTemplateModel/bin
/SuperGMSTemplateModel/obj
/SuperGMSTemplateService/bin
/SuperGMSTemplateService/obj
/SuperGMSTemplateService/Properties/PublishProfiles
/SuperGMSTemplateService/SuperGMSTemplateService.csproj.user
